@import url('tachyons.min.css');
html, body { margin: 0; padding: 0; height: 100%; min-height: 100%; background-color: white; }
body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }
p { line-height: 1.46em; }
main { display: flex; flex-direction: column; flex: auto; background-color: whitesmoke; }
a, a:visited { color: #0369a1; text-decoration: none; }
a:hover, .quick_links a:hover { color: #ec4899; }
.container { width: 100%; max-width: 1280px; margin-left: auto; margin-right: auto;}
.bc { border-color: #d1d5db; }
ul { list-style: none; padding: 0; margin: 0; }
.iblack { color: black !important; }
.bg-whitesmoke { background-color: whitesmoke; }
.bg-gray-100 { background-color: #f3f4f6;}
.bg-gray-200 { background-color: #e5e7eb; }

